.header {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
    border-bottom: solid 1px darkgray;
    margin-bottom: 2rem;
}

.wordGuess {
    width: max-content;
    margin: 5px auto;
}

.letterGuess {
    border: solid 1px darkgray;
    border-radius: 0;
    font-size: 3rem;
    width: 3rem;
    margin: 0 2px;
    text-align: center;

    caret-color: transparent;
}

.submitBtn {
    border-radius: 5px;
    border: none;
    background-color: #d3d6da;
    padding: 5px 1rem;
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    font-size: 1.2rem;
}

.submitBtn:hover {
    opacity: 0.8;
}

.green {
    background-color: #538d4e;
    color: white;
}

.yellow {
    background-color: #b59f3b;
    color: white;
}

.grey {
    background-color: #3a3a3c;
    color: white;
}

.feedback {
    font-size: 1.3rem;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.keysRow {
    width: max-content;
    margin: 2.5rem auto;
}

.eachKey {
    font-size: 1.2rem;
    margin: 5px;
    padding: 1rem;
    border: 1px solid #d3d6da;
    background-color: #d3d6da;
    border-radius: 5px;
    cursor: pointer;
}

.eachKey:hover {
    opacity: 0.8;
}
