@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
}

.header {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem;
    text-align: center;
    border-bottom: solid 1px darkgray;
    margin-bottom: 1.5rem;
}

.wordGuess {
    width: max-content;
    margin: 5px auto;

    display: flex; /* this property solves letter boxes moving up down issue */
}

.letterGuess {
    border: solid 1px darkgray;
    border-radius: 0;
    font-size: 2rem;
    margin: 0 3px;
    width: 3.5rem;
    min-height: 3.5rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.feedback {
    font-size: 1.2rem;
    width: max-content;
    margin: 1.2rem auto;
    max-width: 80%;
    text-align: center;
}

.keysRow {
    width: max-content;
    margin: 2.5rem auto;
}

.eachKey {
    font-size: 1.2rem;
    margin: 5px;
    padding: 1rem;
    border: 1px solid #d3d6da;
    background-color: #d3d6da;
    border-radius: 5px;
    cursor: pointer;
}

.green {
    background-color: #538d4e;
    color: white;
}

.yellow {
    background-color: #b59f3b;
    color: white;
}

.grey {
    background-color: #787c7e;
    color: white;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.app-body {
    /* to remove blue border on focus */
    outline: none;
}

.btn {
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    padding: 3px 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
}

.backspace-icon {
    width: 1.2rem;
}

/* code for loader, using a GIF */
.loader-container {
    width: 100%;
    height: 75vh;
    position: fixed;
    background: url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif")
        center no-repeat;
    z-index: 1;
}

@media screen and (max-width: 410px) {
    .keysRow {
        width: max-content;
        margin: 1.4rem auto;
    }

    .eachKey {
        font-size: 1rem;
        margin: 0px 2px;
        padding: 0.5rem;
        border-radius: 5px;
    }

    .backspace-icon {
        width: 1rem;
    }
}
